.b-post{
	padding: 10px;
	background: @gray-light;
	margin-bottom: 10px;
	
	.b-post-meta{
		padding: 2px 0;
		border-bottom: solid 1px @prime-neutral;
		margin-bottom: 5px;
	}
	
	.b-post-title{
		margin-right: 10px;
	}
	
	.b-post-id {
		float: right;
	}
	
	.b-post--image{
		margin: 0 15px 10px 0;
		display: inline-block;
		max-width: 200px;
		min-height: 200px;
		height: 200px;
	}
}

.b-thread .b-post:last-child{
	margin-bottom: 0px;
}

.b-thread-op_post .b-post{
	background: inherit;
}