.g-hidden{
	display: none;
}

@import "variables.less";


@footer-height: 100px;

@import "blocks/b-icon.less";
@import "blocks/b-boards-list.less";
@import "blocks/b-thread.less";
@import "blocks/b-post.less";

body {
    color: #555;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.center{
	text-align: center;;
}

/* Sticky footer */
html, body {
  height: 100%;
}

.g-wrapper {
  min-height: 100%;
  margin-bottom: -@footer-height;
}

.g-wrapper:after {
  content: "";
  display: block;
}

footer, .g-wrapper:after {
  height: @footer-height;
}

footer {
  background: @main-color;
}