@main-color: #6E6888;
@text-color: #333;
@text-color-light: #777;

@prime: #6E6888;
@prime-dark: #291D61;
@prime-light: #B8B3D0;

@secondary: red;
@secondary-dark: red;
@secondary-ligh: red;
	
@prime-neutral: #8C6882;

@gray-light: #eee;