.g-hidden {
  display: none;
}
.b-icon {
  position: relative;
  display: inline-block;
}
.b-icon--boards_list {
  width: 30px;
  height: 30px;
  background: #6e6888;
  cursor: pointer;
}
.b-boards-list--top {
  margin: 10px 0;
}
.b-boards-list--top ul {
  width: 100%;
  display: table;
}
.b-boards-list--top ul li {
  display: table-cell;
  margin-right: 15px;
  padding: 10px 15px;
}
.b-boards-list--full ul {
  width: 100%;
}
.b-boards-list--full li {
  width: 100%;
  padding: 15px;
  background: #b8b3d0;
  margin-bottom: 2px;
}
.b-boards-list--full li a {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.b-boards-menu {
  padding: 0;
  list-style: none;
}
.b-boards-menu a {
  text-decoration: none;
}
.b-boards-list--mobile li {
  display: inline-block;
}
.b-boards-list--mobile ul {
  position: absolute;
  top: 0;
  left: -100%;
  transition: 100ms;
}
.b-thread-op_post {
  background: #b8b3d0;
}
.b-thread-op_hr {
  margin: 5px 0;
  border-width: 2px;
  border-color: #8c6882;
}
.b-thread-hr {
  margin: 15px 0;
  border-width: 3px;
  border-color: #291d61;
}
.b-thread-hr:last-child {
  display: none;
}
.b-thread--truncated:last-child {
  margin-bottom: 20px;
}
.b-thread--link {
  margin-bottom: 5px;
  letter-spacing: 1px;
}
.b-thread--link a {
  font-size: 18px;
  color: #291d61;
}
.b-post {
  padding: 10px;
  background: #eeeeee;
  margin-bottom: 10px;
}
.b-post .b-post-meta {
  padding: 2px 0;
  border-bottom: solid 1px #8c6882;
  margin-bottom: 5px;
}
.b-post .b-post-title {
  margin-right: 10px;
}
.b-post .b-post-id {
  float: right;
}
.b-post .b-post--image {
  margin: 0 15px 10px 0;
  display: inline-block;
  max-width: 200px;
  min-height: 200px;
  height: 200px;
}
.b-thread .b-post:last-child {
  margin-bottom: 0px;
}
.b-thread-op_post .b-post {
  background: inherit;
}
.b-form .b-input {
  margin-bottom: 10px;
}
.b-form .b-input input {
  height: 28px;
  border: solid 1px #6e0813;
  background: #eeeeee;
  padding: 2px 3px;
  font-size: 16px;
}
.b-button--primary:hover,
.b-button--primary:active {
  color: white;
  box-shadow: 1px 1px 3px #b8b3d0;
}
.b-button--primary {
  background: #6e6888;
  color: white;
}
#g-auth {
  padding-top: 200px;
  text-align: center;
}
body {
  color: #555;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
}
.center {
  text-align: center;
}
/* Sticky footer */
html,
body {
  height: 100%;
}
.g-wrapper {
  min-height: 100%;
  margin-bottom: -100px;
}
.g-wrapper:after {
  content: "";
  display: block;
}
footer,
.g-wrapper:after {
  height: 100px;
}
footer {
  background: #6e6888;
}
